extends ./layout/index
block contenido
  main.container.mt-5
    .row
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7 
        h1 #{pagina} 
        blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec rutrum diam. Suspendisse potenti. Maecenas non hendrerit dolor. Pellentesque eu felis id elit pretium vulputate non sed mauris. Sed nunc purus, porttitor a ornare interdum, maximus in odio. Proin sapien mi, dapibus quis gravida ac, facilisis ac enim. Aenean pharetra ultricies pretium. 

        p laoreet dictum dolor, accumsan ullamcorper quam mattis sed. Quisque ornare finibus purus et vulputate. Phasellus finibus magna eget volutpat volutpat. Fusce convallis, lectus in pharetra ultricies, neque massa laoreet enim, in rutrum libero nunc id eros. 

        p fermentum odio lorem, at lobortis ipsum volutpat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec dictum ligula eget consectetur laoreet. 
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Phasellus fermentum odio lorem, at lobortis ipsum volutpat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec dictum ligula eget consectetur laoreet.
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Phasellus fermentum odio lorem, at lobortis ipsum volutpat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec dictum ligula eget consectetur laoreet.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Mejores Precios
          p Phasellus fermentum odio lorem, at lobortis ipsum volutpat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec dictum ligula eget consectetur laoreet.